/*Rule that enables snap functionality*/
html{
    scroll-snap-type:y mandatory;
}
.app{
    
    background-color:#000;
    height:100vh;
    /*Center items*/
    display:grid;
    place-items: center;
}

.app__videos{
    /*position is relative to its parent*/
    position: relative;
    border-radius: 20px;
    height:500px;
    overflow:scroll;
    width:80%;
    max-width:500px;
    scroll-snap-type: y mandatory;
    background-color:#fff;
}

/*Hides scrollbar for chrome,safari & opera*/
.app__videos::-webkit-scrollbar{
    display:none;
}

/*Hides scrollbar for Edge, Firefox*/
.app__videos{
    -ms-overflow-style: none;
    scrollbar-width:none;
}